.component-72-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 14px;
  margin-left: 331px;
  position: relative;
  width: 173px;
}

.mask-group-2-2 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-top: 1.0px;
  overflow: hidden;
  padding: 0 4px;
  position: relative;
}

