.component-71-1 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 17px;
  margin-left: 95px;
  position: relative;
  width: 165px;
}

.mask-group-2-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-top: 4.0px;
  overflow: hidden;
  position: relative;
}

