.component-201-1 {
  align-items: center;
  display: flex;
  height: 57px;
  min-width: 260px;
  padding: 10px 32.0px;
}

.path-1345 {
  height: 12px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 20px;
}

.accouting {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 11px;
  min-height: 26px;
  min-width: 83px;
  white-space: nowrap;
}

